body{
    
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    
}
a
{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #2195f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
a:hover
 {
    color: #0112ff;
    background: #2196f3;
    box-shadow:  0 0 10px #2196f3, 0 0 80px #2196f3, 0 0 0 10px #2196f3;
    
}



